<mat-toolbar>
    <span>Register Yourself</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>First Name:</mat-label>
                <input matInput name="fname" required/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name:</mat-label>
                <input matInput type="text" name="lname" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput type="email" name="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input type="password" matInput name="password" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date of Birth:</mat-label>
                <input matInput [matDatepicker]="picker"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <section>
                <mat-label>Gender:</mat-label>
                <mat-radio-group [(ngModel)]="gender" name="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </section>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Register</button>
    </mat-card-actions>
</mat-card>